body {
    color: #000;
    font-family: 'Roboto', Helvetica, Arial,sans-senif;
    line-height: 18px;
    font-size: 13px;
}
.order-bill{
    overflow: hidden;
    border-top: 1px solid;
}
.order-bill .detail-order-bill {
    width: 300px;
    float: right;
}
.order-bill .detail-order-bill .row-inf {
    padding: 8px 0;
    /* border-top: 1px solid #cbcbcb; */
    overflow: hidden;
}
.detail-order-bill .row-inf .lbl {
    width: 140px;
    float: left;
    text-align: right;
}
.detail-order-bill .row-inf .fee {
    float: right;
}
b, strong {
    font-weight: bold;
}